*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    padding-top: 60px;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}

/* Generic */

h3{
   color: white;
}

h5{
    color: white;
    font-size: 15px;
    
}

/* Header */

header{
    background-color: rgb(255, 105, 0);
    height: 80px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1;
}

.flex-header{
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo img{
    width: 150px;
}

nav ul{
    list-style-type: none;
}

li{
    padding-right: 10px;
}

nav,.tools{
    flex-basis: 25%;
}

figure{
    flex-basis: 50%;
    text-align: center;
}

.tools{
    text-align: right;
}

.genderlist a{
    font-weight: 800;
}

/* Main */

.row{
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 17px;
    margin-top: 80px;
    
}

.card{
    position: relative;
}

.card:hover #opening-image{
    display: none;
}

.card:hover #hover-image{
    display:block;
}

.favorites:hover #opening-favorites{
    display: none;
}

.favorites:hover #hover-favorites{
    display:block;
}

#opening-image{
    max-width: 450px;
    display: block;
    
}

#hover-image{
    display: none;
    max-width: 450px
}

#opening-favorites{
    max-width: 450px;
    display: block;
    
}

#hover-favorites{
    display: none;
    max-width: 450px
}

.position{
display: flex;
position: absolute;
}

.sales{
    position:relative;
    bottom: 80px;
    background-color: red;
    color: white;
    padding: 5px 10px;
    font-weight: 800;
    display: inline-block;
    margin-right: 5px;

}

.sustainability{
    position:relative;
    bottom: 80px;
    left: 0;
    background-color: green;
    color: white;
    padding: 5px 10px;
    font-weight: 800;
    display: inline-block;
}

.favorites{
    position: absolute;
    top: 10px;
    right: 0;
    background-color: white;
    padding: 20px;
}

.price{
    color: red;
}

.discount-price{
    color: black;
    text-decoration:line-through;
}

/* Footer */

footer{
    background-color: rgb(26, 26, 26);
    height: 90px;
    margin-top: 50px;
}

.flex-footer{
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.info-footer a{
    line-height: 30px;
    padding-right: 10px;

}
.info-footer i{
    line-height: 30px;
    padding-right: 10px;
}

/* Utility */

.flex{
    display: flex;
}

a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}